@font-face {
 font-family:'LetterGothicStd';
 src:url("fonts/LetterGothicStd.woff") format("woff");
 font-weight:normal;
 font-style:normal
}
html,body {
 margin:0;
}
body {
 transition:background 1s
}
a {
 text-decoration:none
}
.blur1 {
 filter:blur(1px)
}
.blur3 {
 filter:blur(3px)
}
.rainbow {
 height:144px;
 z-index:100
}
.rainbow .band {
 height:25%;
 transition:background 1s, color .3s;
}
.star {
 text-align:center;
 font-family:sans-serif;
 text-transform:uppercase;
 font-weight:bolder;
 font-size:14px;
 line-height:36px
}
.beta .star {
 font-size:22px
}
.delta .star {
 font-size:55px
}
.emblem {
 position:relative;
 width:100px;
 height:100px;
 margin:0 auto;
 transition:transform 1s;
 border-radius:50%;
 margin-bottom:55px
}
.emblem:hover {
 transform:rotate(-45deg)
}
.main-container {
 max-width:900px;
 margin:0 auto;
 padding:0 1em
}
.content {
 transition:color .3s;
 font-size:18px;
 line-height:1.7em
}
.content a {
 transition:color .3s
}
.content a:hover {
 text-decoration:underline
}
.nav {
 font-family:"LetterGothicStd", monospace;
 text-transform:uppercase;
 font-size:12px;
 position:absolute;
 width:300px;
 height:110px;
 left:0;
 right:0;
 margin:0 auto
}
.nav a {
 position:absolute;
 transition:color .3s, left 1s, top 1s
}
.nav a.far {
 top:25px;
 left:51px
}
.nav a.medium {
 top:45px;
 left:219px
}
.nav a.close {
 top:90px;
 left:67px;
 font-size:14px
}
.separator {
 height:1px;
 margin-bottom:26px
}
.title-box {
 position:relative;
 margin-bottom:55px
}
.title-box a:hover {
 text-decoration:underline
}
.title-box h1 {
 margin:0;
 font-weight:normal;
 font-family:"LetterGothicStd", monospace;
 font-size:36px;
 position:absolute;
 top:115px;
 line-height:1em
}
.title-box img {
 margin:0 auto;
 display:block;
 max-width:100%;
 height:auto
}
article .text-column {
 max-width:500px;
 margin:0 auto
}
article h2 {
 font-weight:normal;
 letter-spacing:1em;
 margin:1.7rem 0;
 font-size:1.25em;
 font-family:"Georgia", serif
}
article h2,article span.pop,article a,article p {
 transition:color .3s
}
article img,article video {
 max-width:100%;
 height:auto;
 display:block
}
article .video-wrapper iframe {
 max-width:100%;
 height:315px
}
article p {
 font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size:14px;
 line-height:1.5em;
 margin-bottom:1em
}
.hero p {
 margin:0;
 color:white;
 transition:color .3s, text-shadow .3s;
 text-shadow:-2px 15px 14px rgba(0,0,0,0.5);
 font-weight:normal;
 font-family:"LetterGothicStd", monospace;
 font-size:23px;
 max-width: 700px;
 margin: 0 auto;
 line-height:1.7em
}
ul.post-list {
 text-align:center;
 font-family:"LetterGothicStd", monospace;
 padding:0;
 padding-top:12px
}
ul.post-list li {
 list-style:none;
 margin-bottom:20px
}
ul.post-list a {
 font-size:14px;
 display:inline-block
}
ul.post-list a:hover {
 text-decoration:none
}
ul.post-list .star {
 font-size:55px;
 line-height:52px
}
ul.post-list .date {
 font-size:9px;
 line-height:1em
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* background: linear-gradient(90deg, rgba(69,252,92,1) 10%, rgba(253,29,29,1) 10%, rgba(212,58,70,1) 21%, rgba(29,190,253,1) 21%, rgba(29,190,253,1) 31%, rgba(42,29,253,1) 31%, rgba(38,29,253,1) 41%, rgba(253,29,231,1) 41%, rgba(253,29,231,1) 51%, rgba(29,253,226,1) 51%, rgba(29,253,226,1) 61%, rgba(253,173,29,1) 61%, rgba(253,173,29,1) 71%, rgba(253,249,29,1) 71%, rgba(248,237,41,1) 81%, rgba(162,29,253,1) 81%, rgba(162,29,253,1) 91%, rgba(253,29,242,1) 91%); */
    justify-content: center;
    gap: 1rem;
}
.grid-container h1 {
    display: block;
    font-size: 14px;
    font-family: "LetterGothicStd", monospace;
    line-height: normal;
    color: black;
}
.grid-container img {
    max-width: 100%;
    max-height: 232px;
    box-shadow: -2px 15px 14px rgba(0,0,255,0.5);
}
@media(min-width:650px) {
    .grid-container {
	grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width:700px) {
    .grid-container img {
	max-height: 290px;
    }
}
/* @media(min-width:800px) { */
/*     .grid-container { */
/* 	gap: 3rem; */
/*     }     */
/* } */
