.theme-maroon {
    background:gray;
}
.theme-maroon .emblem {
    background:linear-gradient(to bottom, red 10%, #00F 72%, #0FF 100%);
}
.theme-maroon .band {
    color:#fff;
}
.theme-maroon .band.alpha {
    background:#8a0b2f;
}
.theme-maroon .band.beta {
    background:#744b4b;
}
.theme-maroon .band.gamma {
    background:#646468;
}
.theme-maroon .band.delta {
    background:#6d6d6d;
}
.theme-maroon .nav a,.theme-maroon .nav a:visited {
    color:rgba(255,255,255,0.54);
}
.theme-maroon .nav a:hover,.theme-maroon .nav a.selected {
    color:#fff;
}
.theme-maroon .hero p {
    color:#fff;
    text-shadow:-2px 15px 14px rgba(0,0,255,0.5);
}
.theme-maroon .hero a {
    color:cyan;
}

.theme-dark {
    background:black;
}
.theme-dark.yoga {
    background: #bfbebe;
}
.theme-dark .emblem {
    background:linear-gradient(to bottom, #171717 10%, #B67400 72%, #DEEA1A 100%);
}
.theme-dark.alt .emblem {
    background:linear-gradient(to bottom, #17dddd 10%, #000 72%, red 100%);
}
.theme-dark.yoga .emblem {
    background:linear-gradient(to bottom, #ff4141 10%, #F29A00 72%, #1A58EA 100%);
}
.theme-dark.past .emblem {
    background:linear-gradient(to bottom, #fffefe 10%, #885907 72%, #1A6BEA 100%);
}
.theme-dark .band {
    color:#45ff00;
}
.theme-dark.yoga .band {
    color:#286212;
}
.theme-dark.past .band {
    color:#e60081;
}
.theme-dark .nav a,.theme-dark .nav a:visited {
    color:rgba(255,255,255,0.54);
}
.theme-dark.yoga .nav a {
    color:rgba(0, 0, 0, 0.54);
}
.theme-dark .nav a:hover,.theme-dark .nav a.selected {
    color:#fff;
}
.theme-dark .hero p {
    color:#fff;
    text-shadow:-2px 15px 14px rgba(0,0,255,0.5);
}
.theme-dark.yoga .hero p {
    color:#151515;
}
.theme-dark .hero a {
    color:#dbb619;
}
.theme-dark.yoga .hero a {
    color:#00951e;
}
.theme-dark .post-list a, .theme-dark .post-list .date {
    color:rgb(227,215,215);
}

/* blog post legacy theme */
.theme-4 {
    background:#fff;
}
.theme-4 .emblem {
    background:linear-gradient(to bottom, #17dddd 10%, #000 72%, red 100%);
}
.theme-4 .band {
    color:#000;
}
.theme-4 .nav a,.theme-4 .nav a:visited {
    color:rgba(0,0,0,0.54);
}
.theme-4 .nav a:hover,.theme-4 .nav a.selected {
    color:#000;
}
.theme-4 .title-box h1 {
    text-shadow:-1px 1px 4px #000;
}
.theme-4 .title-box a,.theme-4 .title-box a:visited {
    color:#fff;
}
.theme-4 .title-box a:hover {
    background:rgba(0,0,0,0.1);
}
.theme-4 article p {
    color:#0D0D0D;
}
.theme-4 article h2 {
    color:#CDCDCD;
}
.theme-4 article span.pop {
    color:red;
}
.theme-4 article a,.theme-4 article article a:visited {
    color:rgba(0,81,255,0.82);
}
.theme-4 article a:hover {
    color:#0051ff;
}
.theme-4 .post-list a {
    color:rgba(0,0,0,0.54);
}
.theme-4 .post-list .date {
    color:#b24603;
}
